# pandas 表格设置id的示例

In [2]:
%%time
%%capture

!pip install pandas

CPU times: user 8.67 ms, sys: 1.15 ms, total: 9.82 ms
Wall time: 2.38 s

## 最简单的实现

### 设置id

In [4]:
import pandas as pd

# 创建一个示例 DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 30, 35, 40]}
df = pd.DataFrame(data)

# 为每条记录设置 ID
df = df.reset_index(drop=False, names='ID')  # drop=False 保留原有索引作为新列
df[:2]

   ID   Name  Age
0   0  Alice   25
1   1    Bob   30

### 删除指定id的行

In [8]:
# 删除 ID 为 0 的行
df = df[df['ID'] != 0]
df

   ID     Name  Age
1   1      Bob   30
2   2  Charlie   35
3   3    David   40

### 增加指定id的行

In [9]:
new_row = {'ID': 0, 'Name': 'Eve', 'Age': 28}
df = pd.concat([df, pd.DataFrame([new_row])], ignore_index=True)
df

   ID     Name  Age
0   1      Bob   30
1   2  Charlie   35
2   3    David   40
3   0      Eve   28

## 自定义id的情况

In [12]:
data = [[1, '《沧海寄》是一个故事游戏，讲述了公元14世纪至22世纪跨度800余年间，全球范围内，发生的各种故事。涌现出众多人物，在历史的大背景下，合情合理而令人印象深刻的呈现他们的故事。', '故事设定'],
[2,'潘菲洛，14世纪人物，生活在威尼斯。曾经是大商人，破产后又遭遇大瘟疫，出海避险，辗转于黎凡特和加尔各答，重新赢得了财富。晚年定居热那亚。', '人物设定'],
[3,'马努，15世纪人物，是摩鹿加群岛哈朗加帝国的军事贵族，曾经多次联合其他伊斯兰力量，击败葡萄牙和西班牙的入侵。晚年遭遇权力斗争中失败，这也波及到他参与组织的海军阶层。马努死后第5年，西班牙人屠灭了哈朗加帝国。', '人物设定'],
[4,'博尔都，14世纪人物，元末明初人。曾官至南昌府知府。因红巾军战乱，颠沛流离，中年在漠北北元做过枢密院的小官。又因蓝玉扫北被俘，多次辗转后，终老于撒马尔罕。', '人物设定']
]
df = pd.DataFrame(data, columns = ['id','文本', '分类'])
df

   id                                                 文本    分类
0   1  《沧海寄》是一个故事游戏，讲述了公元14世纪至22世纪跨度800余年间，全球范围内，发生的各...  故事设定
1   2  潘菲洛，14世纪人物，生活在威尼斯。曾经是大商人，破产后又遭遇大瘟疫，出海避险，辗转于黎凡特...  人物设定
2   3  马努，15世纪人物，是摩鹿加群岛哈朗加帝国的军事贵族，曾经多次联合其他伊斯兰力量，击败葡萄牙...  人物设定
3   4  博尔都，14世纪人物，元末明初人。曾官至南昌府知府。因红巾军战乱，颠沛流离，中年在漠北北元做...  人物设定

In [13]:
# 删除 ID 为 0 的行
df = df[df['id'] != 2]
df

   id                                                 文本    分类
0   1  《沧海寄》是一个故事游戏，讲述了公元14世纪至22世纪跨度800余年间，全球范围内，发生的各...  故事设定
2   3  马努，15世纪人物，是摩鹿加群岛哈朗加帝国的军事贵族，曾经多次联合其他伊斯兰力量，击败葡萄牙...  人物设定
3   4  博尔都，14世纪人物，元末明初人。曾官至南昌府知府。因红巾军战乱，颠沛流离，中年在漠北北元做...  人物设定

In [14]:
new_row = {'id': 2, '文本': '郭居静，字仰凤，原名拉扎罗。天主教耶稣会意大利籍传教士。明朝时来华传教士之一，是利玛窦传教的主要助手。后卷入郭居静事件，事件平息后，赴上海和杭州开教。卒于杭州。', '分类': '人物设定'}
df = pd.concat([df, pd.DataFrame([new_row])], ignore_index=True)
df

   id                                                 文本    分类
0   1  《沧海寄》是一个故事游戏，讲述了公元14世纪至22世纪跨度800余年间，全球范围内，发生的各...  故事设定
1   3  马努，15世纪人物，是摩鹿加群岛哈朗加帝国的军事贵族，曾经多次联合其他伊斯兰力量，击败葡萄牙...  人物设定
2   4  博尔都，14世纪人物，元末明初人。曾官至南昌府知府。因红巾军战乱，颠沛流离，中年在漠北北元做...  人物设定
3   2  郭居静，字仰凤，原名拉扎罗。天主教耶稣会意大利籍传教士。明朝时来华传教士之一，是利玛窦传教的...  人物设定